@import "../common/var.css";
@import "../common/transition.css";

@component-namespace el {
  @b date-editor {
    position: relative;
    display: inline-block;

    &.el-input {
      width: 193px;

      input {
        line-height: 30px;
      }
    }

    @m daterange {
      &.el-input {
        width: 220px;
      }
    }

    @m datetimerange {
      &.el-input {
        width: 350px;
      }
    }

    .el-picker-panel {
      position: absolute;
      min-width: 180px;
      box-sizing: border-box;
      box-shadow: 0 2px 6px #ccc;
      background: var(--color-white);
      z-index: 10;
      top: 41px;
    }
    .hidden {
      display: none;
    }
    .el-input__icon.el-icon-close {
      font-size: 5px;
      padding: 3px;
      margin-top: 9px;
      color: #FFF;
      overflow: hidden;
      border-radius: 50%;
      background: #cccccc;
      width: 6px;
      height: 6px;
      line-height: 5px;
    }
    .el-kylin-type_date {
      line-height: 30px;
    }
  }
}
