@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b card {
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    overflow: hidden;
    box-shadow: 0 2px 4px 0 #f4f4f4;
    font-size: 14px;
    line-height: 20px;

    @e header {
      padding: 10px 15px;
      border-bottom: 1px solid var(--card-border-color);
      box-sizing: border-box;
      font-weight: 500;
    }

    @e body {
      padding: 10px 15px;
    }

    @m primary {
      .el-card__header {
        background-color: var(--card-primary-header-color);
      }
    }
  }
}
