@font-face {
    font-family: 'element-icons';
    src: url('fonts/element-icons.woff?t=1472440741') format('woff'), /* chrome, firefox */
      url('fonts/element-icons.ttf?t=1472440741') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    font-weight: normal;
    font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'element-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-arrow-down:before { content: "\e600"; }
.el-icon-arrow-left:before { content: "\e601"; }
.el-icon-arrow-right:before { content: "\e602"; }
.el-icon-arrow-up:before { content: "\e603"; }
.el-icon-caret-bottom:before { content: "\e604"; }
.el-icon-caret-left:before { content: "\e605"; }
.el-icon-caret-right:before { content: "\e606"; }
.el-icon-caret-top:before { content: "\e607"; }
.el-icon-check:before { content: "\e608"; }
.el-icon-circle-check:before { content: "\e609"; }
.el-icon-circle-close:before { content: "\e60a"; }
.el-icon-circle-cross:before { content: "\e60b"; }
.el-icon-close:before { content: "\e60c"; }
.el-icon-upload:before { content: "\e60d"; }
.el-icon-d-arrow-left:before { content: "\e60e"; }
.el-icon-d-arrow-right:before { content: "\e60f"; }
.el-icon-d-caret:before { content: "\e610"; }
.el-icon-date:before { content: "\e611"; }
.el-icon-delete:before { content: "\e612"; }
.el-icon-document:before { content: "\e613"; }
.el-icon-edit:before { content: "\e614"; }
.el-icon-information:before { content: "\e615"; }
.el-icon-loading:before { content: "\e616"; }
.el-icon-menu:before { content: "\e617"; }
.el-icon-message:before { content: "\e618"; }
.el-icon-minus:before { content: "\e619"; }
.el-icon-more:before { content: "\e61a"; }
.el-icon-picture:before { content: "\e61b"; }
.el-icon-plus:before { content: "\e61c"; }
.el-icon-search:before { content: "\e61d"; }
.el-icon-setting:before { content: "\e61e"; }
.el-icon-share:before { content: "\e61f"; }
.el-icon-star-off:before { content: "\e620"; }
.el-icon-star-on:before { content: "\e621"; }
.el-icon-time:before { content: "\e622"; }
.el-icon-warning:before { content: "\e623"; }
.el-icon-delete2:before { content: "\e624"; }
.el-icon-upload2:before { content: "\e627"; }
.el-icon-view:before { content: "\e626"; }

.el-icon-loading {
  animation: rotating 1s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@font-face {
  font-family: 'el-kylin';
  src:  url('fonts/el-kylin.eot?beqgho');
  src:  url('fonts/el-kylin.eot?beqgho#iefix') format('embedded-opentype'),
    url('fonts/el-kylin.ttf?beqgho') format('truetype'),
    url('fonts/el-kylin.woff?beqgho') format('woff'),
    url('fonts/el-kylin.svg?beqgho#el-kylin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="el-kylin-"], [class*=" el-kylin-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'el-kylin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-kylin-add_2:before {
  content: "\e900";
}
.el-kylin-add_template:before {
  content: "\e901";
}
.el-kylin-add:before {
  content: "\e902";
}
.el-kylin-alert:before {
  content: "\e903";
}
.el-kylin-audit:before {
  content: "\e904";
}
.el-kylin-author:before {
  content: "\e905";
}
.el-kylin-back:before {
  content: "\e906";
}
.el-kylin-c_measure:before {
  content: "\e907";
}
.el-kylin-check:before {
  content: "\e908";
}
.el-kylin-clone:before {
  content: "\e909";
}
.el-kylin-close:before {
  content: "\e90a";
}
.el-kylin-code:before {
  content: "\e90b";
}
.el-kylin-copy:before {
  content: "\e90c";
}
.el-kylin-csv:before {
  content: "\e90d";
}
.el-kylin-data_range:before {
  content: "\e90e";
}
.el-kylin-data_source:before {
  content: "\e90f";
}
.el-kylin-dataset_mdx:before {
  content: "\e910";
}
.el-kylin-dataset_sql:before {
  content: "\e911";
}
.el-kylin-desc:before {
  content: "\e912";
}
.el-kylin-download:before {
  content: "\e913";
}
.el-kylin-elapsed_time:before {
  content: "\e914";
}
.el-kylin-empowerment:before {
  content: "\e915";
}
.el-kylin-equal:before {
  content: "\e916";
}
.el-kylin-error_01:before {
  content: "\e917";
}
.el-kylin-filter_2:before {
  content: "\e918";
}
.el-kylin-filter:before {
  content: "\e919";
}
.el-kylin-forth:before {
  content: "\e91a";
}
.el-kylin-good_health:before {
  content: "\e91b";
}
.el-kylin-grid_01:before {
  content: "\e91c";
}
.el-kylin-grid_02:before {
  content: "\e91d";
}
.el-kylin-hierachy:before {
  content: "\e91e";
}
.el-kylin-insight:before {
  content: "\e91f";
}
.el-kylin-json:before {
  content: "\e920";
}
.el-kylin-link_2:before {
  content: "\e921";
}
.el-kylin-link:before {
  content: "\e922";
}
.el-kylin-list:before {
  content: "\e923";
}
.el-kylin-login_email:before {
  content: "\e924";
}
.el-kylin-login_intro:before {
  content: "\e925";
}
.el-kylin-login_manual:before {
  content: "\e926";
}
.el-kylin-manytomany:before {
  content: "\e927";
}
.el-kylin-mark_favorite:before {
  content: "\e928";
}
.el-kylin-minus:before {
  content: "\e929";
}
.el-kylin-model:before {
  content: "\e92a";
}
.el-kylin-more:before {
  content: "\e92b";
}
.el-kylin-more_01:before {
  content: "\e92c";
}
.el-kylin-more_02:before {
  content: "\e92d";
}
.el-kylin-more_05:before {
  content: "\e92e";
}
.el-kylin-overview:before {
  content: "\e92f";
}
.el-kylin-pause:before {
  content: "\e930";
}
.el-kylin-piechart:before {
  content: "\e931";
}
.el-kylin-play:before {
  content: "\e932";
}
.el-kylin-project_minus:before {
  content: "\e933";
}
.el-kylin-pull:before {
  content: "\e934";
}
.el-kylin-right:before {
  content: "\e935";
}
.el-kylin-run:before {
  content: "\e936";
}
.el-kylin-sample:before {
  content: "\e937";
}
.el-kylin-search:before {
  content: "\e938";
}
.el-kylin-security:before {
  content: "\e939";
}
.el-kylin-setting:before {
  content: "\e93a";
}
.el-kylin-sql:before {
  content: "\e93b";
}
.el-kylin-switch:before {
  content: "\e93c";
}
.el-kylin-table_add:before {
  content: "\e93d";
}
.el-kylin-table_assign:before {
  content: "\e93e";
}
.el-kylin-table_delete:before {
  content: "\e93f";
}
.el-kylin-table_edit:before {
  content: "\e940";
}
.el-kylin-table_minus:before {
  content: "\e941";
}
.el-kylin-table_others:before {
  content: "\e942";
}
.el-kylin-table_refresh:before {
  content: "\e943";
}
.el-kylin-table_save:before {
  content: "\e944";
}
.el-kylin-table_viewer:before {
  content: "\e945";
}
.el-kylin-to_be_clarified:before {
  content: "\e946";
}
.el-kylin-type_bigint:before {
  content: "\e947";
}
.el-kylin-type_boolean:before {
  content: "\e948";
}
.el-kylin-type_date:before {
  content: "\e949";
}
.el-kylin-type_decimal:before {
  content: "\e94a";
}
.el-kylin-type_double:before {
  content: "\e94b";
}
.el-kylin-type_float:before {
  content: "\e94c";
}
.el-kylin-type_int:before {
  content: "\e94d";
}
.el-kylin-type_interval_day_to_seconds:before {
  content: "\e94e";
}
.el-kylin-type_interval_years_to_months:before {
  content: "\e94f";
}
.el-kylin-type_list:before {
  content: "\e950";
}
.el-kylin-type_map:before {
  content: "\e951";
}
.el-kylin-type_measure:before {
  content: "\e952";
  color: #7f7f7f;
}
.el-kylin-type_time:before {
  content: "\e953";
}
.el-kylin-type_timestamp:before {
  content: "\e954";
}
.el-kylin-type_varbinary:before {
  content: "\e955";
}
.el-kylin-type_varchar:before {
  content: "\e956";
}
.el-kylin-unlink:before {
  content: "\e957";
}
.el-kylin-unload:before {
  content: "\e958";
}
.el-kylin-user_2:before {
  content: "\e959";
}
.el-kylin-visualization:before {
  content: "\e95a";
}
.el-kylin-withdraw:before {
  content: "\e95b";
}
